@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <h2>@ViewBag.EnvirionmentVariable</h2>
        <p>This is a sample project with Docker support. The h2 element include a variable sent as part of Docker run.</p>
    </div>
